<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h1>{{ttitle}}</h1>
<div>
Hello {{username}}
</div>
<div>
Check below links to see what you can access based on your role(s):
</div>
<a href="page1">Page 1</a><br />
<a href="page2">Page 2</a><br />
<a href="page3">Page 3</a><br />
	<div>
		<a href="/logout">Log out</a>
	</div>
</body>
</html>