<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
	<h2>{{title}}</h2>
	<form method="post" action="login">
		<div>
			<label>Username</label>
			<input type="text" placeholder="Enter Username" name="username" id="username" required/>
		</div>
		<div>
			<label>Password</label>
			<input type="password" placeholder="Enter Password" name="password" id="password" required/>
		</div>
		<div>
			<input type="submit" value="Login"/>
		</div>
		<div>
		{{error}}
		</div>
	</form>
</body>
</html>