<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
     <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
		 function getParameterByName(name, url) {
		    if (!url) url = window.location.href;
		    name = name.replace(/[\[\]]/g, "\\$&");
		    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
		        results = regex.exec(url);
		    if (!results) return '';
		    if (!results[2]) return '';
		    return decodeURIComponent(results[2].replace(/\+/g, " "));
		}
		
		$(document).ready(
		   function() {
		    $('#loginForm').submit(
		            function() {
		               $('#url').val(getParameterByName("location"));	               
		             }
		            )});    
		                
	</script>
</head>
<body>
	<h2>{{title}}</h2>
	<form method="post" id="loginForm" action="login">
		<div>
			<label>Username</label>
			<input type="text" placeholder="Enter Username" name="username" id="username" required/>
		</div>
		<div>
			<label>Password</label>
			<input type="password" placeholder="Enter Password" name="password" id="password" required/>
		</div>
		 <div>
			<input type="text" name="url" id="url" value="" hidden/>
		</div>
		<div> 
			<input type="submit" value="Login"/>
		</div>
		<div>
		{{error}}
		</div>
	</form>
</body>
</html>