<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
	<h1>{{title}}</h1>
	<div>
	  You have successfully logged out. Click <a href="/login">here to log in again</a>
	</div>
</body>
</html>